<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button color = "primary">
      </ion-menu-button>
    </ion-buttons>


    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
       <img src="../../assets/guardia.png" />
        <ion-card-header>
          <ion-card-title>Juan Rosado</ion-card-title>
          <ion-card-subtitle>Garita 2</ion-card-subtitle>
                        
          <ion-button fill="outline"   size='small'>
            <ion-icon name="call"></ion-icon>Llamar a Garita
          </ion-button>
        
          <ion-button fill="outline"   size='small'>
            <ion-icon name="call"></ion-icon>Llamar a Administración
          </ion-button>
        
          
         
          
        </ion-card-header>
      </ion-card>
 

</ion-content>